@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    height: 100%;
  }
  #root {
    height: 100%;
    position: relative;
  }
  body {
    @apply bg-white text-gray-900;
    font-family: 'Inter', system-ui, sans-serif;
  }
  h1, h2, h3 {
    font-family: 'Lora', Georgia, serif;
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }
}
